.component-categories {
  background: #F4F4F4;
  border-radius: 8px;
  padding: 30px 30px 10px 30px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {  //untuk menambahkan styling komponen categories untuk state hover
    transform: scale(1.05); //membuat animasi transisi
    text-decoration: none;  //untuk underline di buttom kita hilangkan
  }

  .categories-text{
    font-size: 18px;
    text-align: center;
    color: #0C0D36;
    font-weight: normal;
    margin-top: 12px;
  }
}